


<div ng-if="showModalSection == 'login'" class="modal-body">
  <div class="modal-header">
      <h3 class="modal-title">Client Login</h3>
  </div>

    <!-- <form action="">
      <input type="text" placeholder="email">
      <input type="password" placeholder="password">
    </form> -->
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="signInClient()">Login</button>
  <button class="btn register" type="button" btn-toggle="" ng-click="registerClient()">Register</button>
</div>
</div>


<div ng-if="showModalSection == 'register'" class="modal-body">
  <div class="modal-header">
      <h3 class="modal-title">Create Account</h3>
  </div>

    <form ng-submit="registerClientPath(user)">
      <input type="text" placeholder="first name" ng-model="user.FIRST_NAME">
      <input type="text" placeholder="last name" ng-model="user.LAST_NAME">
      <input type="text" placeholder="email" ng-model="user.EMAIL">
      <input type="number" placeholder="phone number" ng-model="user.PHONE_NUMBER">
      <input type="password" placeholder="password" ng-model="user.PASSWORD">
      <input type="password" placeholder="confirm password" ng-model="user.PASSWORD_CONFIRMATION">
      <button class="btn register" type="submit" btn-toggle="">Register</button>
    </form>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="loginClient()">Login</button>

</div>

</div>
