<div class= 'overallModal'>


<!-- LOGIN SECTION -->

<div ng-if="showModalSection == 'login'" class="modal-body">
    <h3 class="modal-title">Login</h3>
    <form ng-submit="loginClientPath(client)">
      <input type="text" class="form-control" ng-model="client.email" placeholder="email">
      <div class="red" ng-show="errorMsg.message == 'No message available'">Email does not exsist</div>
      <input type="password" class="form-control" ng-model="client.password" placeholder="password">
      <div class="red" ng-show="errorMsg.message == 'Login failed.'">Incorect Password</div>
      <button class="btn btn-primary" id="login" type="submit">Login</button>
    </form>
  <button class="btn register" id="create" type="button" btn-toggle="" ng-click="showRegisterSection()">Create Account</button>
</div>




<!-- REGISTER SECTION -->


<div ng-if="showModalSection == 'register'" class="modal-body">
    <h3 class="modal-title">Create Account</h3>
    <form name="myForm" class="has-feedback" ng-submit="registerClientPath(client)">
      <input type="text" class="form-control" placeholder="first name" ng-model="client.firstName">
      <input type="text" class="form-control" placeholder="last name" ng-model="client.lastName">
      <input type="text" class="form-control" placeholder="email" ng-model="client.email">
      <input type="number" class="form-control" placeholder="phone number" ng-model="client.phoneNumber">
      <input placeholder="password" class="form-control" ng-model="client.password" type="password" name="passwordName" data-ng-class="{'ng-invalid':myForm.confirmPassword.$error.match}" />
      <input placeholder="confrim password" class="form-control" ng-model="client.passwordConfirm" type="password" data-match="client.password" name="myConfirmField" />
        <div ng-show="myForm.myConfirmField.$error.match"></div>
      <button class="btn register" id="signin" type="submit">Sign In</button>
    </form>
  <button class="btn btn-primary" id="backBtn" type="button" ng-click="showLoginSection()"> <span class="glyphicon glyphicon-chevron-left"></span> </button>

</div>




</div>
