<!-- SPLASH PAGE -->
<!-- /*<style>
@font-face { font-family: Holmes207; src: url('Holmes207.ttf'); }
h1 {
font-family:Holmes207
}

</style>*/ -->
<style>
@font-face { font-family: A little sunshine; src: url('Alittlesunshine.ttf'); }
h1 {
font-family:A little sunshine
}

</style>
<style>
@font-face { font-family: bromello; src: url('bromello.ttf'); }
h2 {
font-family:bromello
}

</style>
<div class="backgroundImg">

<div class="main" ng-controller="LoginModalController">
  <button type="button" class="btn btn-default btn-transparent sue" ng-click="openSpLoginModal()">Provider Login/ Register</button>
  <!-- <div class="mainpic"><img src="MadeMyDay.png" alt=""></div> -->
<!-- <img src="logo.png" alt=""> -->
<div class="headline">

</div>

  <button type="button" class="btn btn-default btn-transparent sue" ng-click="openClientLoginModal()">Client Login/ Register</button>
</div>

</div>
