<!-- SPLASH PAGE -->

<div class="backgroundImg">

<div class="main" ng-controller="LoginModalController">
  <button type="button" class="btn btn-default btn-transparent sue" ng-click="openSpLoginModal()">Provider Login/ Register</button>
  <div class="headline"></div>
  <button type="button" class="btn btn-default btn-transparent sue" ng-click="openClientLoginModal()">Client Login/ Register</button>
</div>


<a href="javascript:;"  class="arrowDown" data-scroll="#two" ><div class="arrow bounce"></div></a>


</div>

<div id="pageTop" class="container">





<h2 id="two">Section 2</h2>
<p>Nam facilisis neque ac dolor vehicula, venenatis egestas orci tincidunt. Integer fermentum ante a odio elementum, sed facilisis ex elementum. Phasellus odio orci, egestas in lobortis at, viverra id libero. Nam libero risus, varius ac bibendum sed, interdum et magna. Aenean maximus metus ut eros volutpat, ac rutrum tortor sollicitudin. Curabitur pellentesque cursus ipsum id volutpat. Integer id augue sit amet sapien posuere vulputate sed sit amet tortor. Donec varius sapien a cursus efficitur. Morbi molestie tempus arcu id facilisis. Vivamus consequat, purus quis fermentum hendrerit, augue elit ornare orci, ac dapibus risus ipsum ac lacus. Vestibulum lacus justo, auctor et turpis sed, gravida rutrum metus. Integer efficitur quam quis auctor aliquet. Duis lorem mi, consequat ut turpis nec, posuere faucibus urna. Aliquam ac aliquam leo.</p>

<p>Suspendisse in eros risus. Donec ut mi a magna lacinia placerat et eget odio. Curabitur a augue tellus. Fusce sit amet porta tortor. Integer fringilla mi ut orci volutpat dignissim. Nulla facilisi. Fusce venenatis sem eu turpis ultricies, vel commodo neque tempus. In risus nunc, lobortis ac lacus sit amet, iaculis convallis augue.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin purus in odio facilisis placerat. Praesent placerat dui sapien, nec lobortis nisl rutrum vitae. Donec tempor augue at diam lacinia congue. Integer mi lectus, eleifend vel mauris sed, dignissim elementum purus. Morbi auctor volutpat tempor. Mauris eget dolor bibendum, ornare justo ut, fermentum arcu. Integer vulputate auctor vehicula. Phasellus porta at leo vitae fermentum. Duis imperdiet dignissim tempus. Vestibulum eget massa egestas, ullamcorper magna eu, laoreet est. Curabitur venenatis, turpis non suscipit egestas, lectus dolor aliquam lectus, ac cursus ligula lacus in metus. Sed a tellus pulvinar, pulvinar dolor et, malesuada nibh.</p>
<p>Donec rutrum risus quis accumsan vehicula. Suspendisse potenti. Vivamus cursus, mi ac placerat tincidunt, mauris nunc aliquam turpis, eu aliquet nisi lacus sit amet felis. Quisque sed venenatis erat. Donec in porttitor ante. Sed mattis tortor risus, vitae dictum nulla gravida eu. Etiam sit amet sollicitudin purus. Nullam pharetra tellus ut cursus rutrum. Fusce porttitor est a augue aliquet, a dignissim mi blandit. Maecenas non convallis sapien, sodales dapibus ex. Nullam id sem vel orci fringilla varius in non elit. Mauris sit amet metus erat.</p>

<p>In bibendum magna a finibus pretium. Phasellus ut ex in elit pulvinar tempor sit amet eget felis. In vestibulum bibendum urna, et fringilla nisl. Aliquam quis odio tincidunt, dignissim quam eu, accumsan lorem. Cras fringilla massa eu dui congue scelerisque quis ac urna. Phasellus lobortis lacus enim, ac auctor mi semper vitae. Maecenas vitae tortor nulla. Quisque nec convallis eros. Cras maximus, tellus ac scelerisque tincidunt, magna arcu volutpat est, id venenatis dolor dolor vel neque. Quisque scelerisque pellentesque ullamcorper. Maecenas tempor sed est molestie aliquam. Aenean sit amet diam sit amet libero pretium gravida sed eu erat. Etiam turpis est, auctor ac ullamcorper vel, consequat ut est. In vulputate risus quis diam aliquam congue.</p>

<p>Nam facilisis neque ac dolor vehicula, venenatis egestas orci tincidunt. Integer fermentum ante a odio elementum, sed facilisis ex elementum. Phasellus odio orci, egestas in lobortis at, viverra id libero. Nam libero risus, varius ac bibendum sed, interdum et magna. Aenean maximus metus ut eros volutpat, ac rutrum tortor sollicitudin. Curabitur pellentesque cursus ipsum id volutpat. Integer id augue sit amet sapien posuere vulputate sed sit amet tortor. Donec varius sapien a cursus efficitur. Morbi molestie tempus arcu id facilisis. Vivamus consequat, purus quis fermentum hendrerit, augue elit ornare orci, ac dapibus risus ipsum ac lacus. Vestibulum lacus justo, auctor et turpis sed, gravida rutrum metus. Integer efficitur quam quis auctor aliquet. Duis lorem mi, consequat ut turpis nec, posuere faucibus urna. Aliquam ac aliquam leo.</p>

<p>Suspendisse in eros risus. Donec ut mi a magna lacinia placerat et eget odio. Curabitur a augue tellus. Fusce sit amet porta tortor. Integer fringilla mi ut orci volutpat dignissim. Nulla facilisi. Fusce venenatis sem eu turpis ultricies, vel commodo neque tempus. In risus nunc, lobortis ac lacus sit amet, iaculis convallis augue.</p>
</div>

<footer></footer>
