<!-- SPLASH PAGE -->

<div class="backgroundImg">
<div class="main" ng-controller="LoginModalController">
  <button type="button" class="btn btn-default btn-transparent sue" ng-click="openSpLoginModal()">Provider Login/ Register</button>
  <div class="headline"></div>
  <button type="button" class="btn btn-default btn-transparent sue" ng-click="openClientLoginModal()">Client Login/ Register</button>
</div>

<!-- THIS IS WHERE THE SMOOTH SCROLL STARTS -->
<a href="javascript:;"  class="arrowDown" data-scroll="#two" ><div class="arrow bounce"></div></a>
</div>
<div id="pageTop" class="container">
  <div class="border"><img src="../../double.png" alt=""><img src="../../double.png" alt=""><img src="../../double.png" alt=""><img src="../../double.png" alt=""><img src="../../double.png" alt=""><img src="../../double.png">

<img src="../../double.png" alt="">
<img src="../../double.png" alt="">
<img src="../../double.png" alt="">
   </div>
<aside><h2>How it works</h2></aside>
<section id="two">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="line three"></div>
  <h6>Overview</h6>
  <br>
  <p>
Do you need your home or business cleaned now? Are you seeking freelance cleaning opportunities and need help getting your name out there? Maid My Day connects those needing immediate cleaning services with cleaning service providers ready and willing to clean for you NOW. </p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="line three"></div>
<h6>ARE YOU A SERVICE PROVIDER?</h6>
<br>
<p>
Service providers have complete control of their day to day schedules and can choose exactly what they want to do for each job. After logging in, service providers can edit their profiles, view their service history, and go online. To start your day simply click “go online” and select the cleaning tasks you are willing to complete. Once your tasks are chosen, you will then be matched with clients who need the specific services you provide completed. Service requests will be sent directly to you with the client’s phone number and location. You simply accept the request, navigate to the service address, and start making money!</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="line three"></div>
<h6>ARE YOU CLIENT IN NEED OF A CLEANING SERVICE?</h6>
<br>
<p>
With Maid My Day, clients have the freedom to request cleaning services when it’s most convenient for them. As a client you can login and select services you need to be completed now. After submitting the tasks to be completed you are supplied a list of service providers willing to complete those tasks for you now. You simply choose a provider and click submit request and you can continue with your day without the worry of having to clean!</p>
<br>
<br>
<p></p>
</section>
</div>



<footer></footer><div class="footer">
    <img src="../../LogoName.png" alt="">
  <button type="button" class="btn btn-default btn-transparent footerBtn" ng-click="openSpLoginModal()">PROVIDER LOGIN</button>
  <button type="button" class="btn btn-default btn-transparent more" ng-click="openClientLoginModal()">CLIENT LOGIN</button>

</div>
<div class="line linetwo"></div>
<div class="terms"><p>© 2016 Maid My Day Inc</p></div>
