
<!-- LOGIN SECTION -->

<div ng-if="showModalSection == 'login'" class="modal-body">
  <div class="modal-header">
      <h3 class="modal-title">Client Login</h3>
  </div>

    <form action="">
      <input type="text" placeholder="email">
      <input type="password" placeholder="password">
    </form>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="signInSp()">Login</button>
  <button class="btn register" type="button" btn-toggle="" ng-click="showRegisterSection()">Register</button>
</div>
</div>








<!-- REGISTER SECTION -->


<div ng-if="showModalSection == 'register'" class="modal-body">
  <div class="modal-header">
      <h3 class="modal-title">Create Account</h3>
  </div>
  <form name="myForm" class="has-feedback" ng-submit="registerSpPath(provider)">
    <input type="text" class="form-control" placeholder="first name" ng-model="provider.firstName">
    <input type="text" class="form-control" placeholder="last name" ng-model="provider.lastName">
    <input type="text" class="form-control" placeholder="email" ng-model="provider.email">
    <input type="number" class="form-control" placeholder="phone number" ng-model="provider.phoneNumber">

    <input placeholder="password" class="form-control" ng-model="provider.password" type="password" name="passwordName" data-ng-class="{'ng-invalid':myForm.confirmPassword.$error.match}" />
    <input placeholder="confrim password" class="form-control" ng-model="provider.passwordConfirm" type="password" data-match="provider.password" name="myConfirmField" />
        <div ng-show="myForm.myConfirmField.$error.match"></div>


    <button class="btn register" type="submit">Register</button>
  </form>


<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="showLoginSection()">Back</button>

</div>

</div>
