.drawer{
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 30px;
  margin-top: 83px;
}

// .onlineBtn{
//     font-family: 'Josefin Sans', sans-serif;
//   margin-top: 178px;
// margin-left: 546px;
// height: 48px;
// width: 200px;
// border: 2px solid  #767B91;
// color: #767B91;
// &:hover {
//   background-color: #767B91;
//   color: #FFF;
//   border: 2px solid  #767B91;
// }
// }
//
// .offlineBtn{
//     font-family: 'Josefin Sans', sans-serif;
//     margin-top: 178px;
//     margin-left: 546px;
//     height: 48px;
//     width: 200px;
//     border: 2px solid  #FFF;
//     color: #FFF;
// &:hover {
//   background-color: #FFF;
//   color: #FFF;
//   border: 2px solid  #FFF;
// }
// }
