.drawer{
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 30px;
  margin-top: 83px;
}

div.overallModal{
  h3{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  div.active1, div.active2, div.active3, div.active4{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    h2{
      font-size: 20px;
      display: inline-block;
      margin-left: 10px;
    }
  }

  button{
    margin-top: 30px;
    margin-bottom: 30px;
  }

}
