.drawer{
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 30px;
  margin-top: 83px;
}




// .green{
//   background: rgba(50, 147, 111, 1);
//   box-shadow: inset 0px 0px 10px 2px rgba(50, 147, 111, 1),
//                     0px 0px 10px 2px rgba(50, 147, 111, 1);
// }
