.profileBackground{
  background-image: url(../photo.jpeg);
}


nav{
  background-color: rgba(255, 255, 255, 0.5);
  height: 91px;
  div{
    display: flex;
    justify-content: space-between;
    h2{
      font-family: 'Sue Ellen Francisco', cursive;
      font-size: 34px;
      color: #767B91;
    }
    img{
      height: 100px;
    }
  }
}


p.navbar-text{
  display: inline-block;
  span{
    font-weight: 800;
  }
}
h4.navbar-brand{
  padding: 0 10px;
  font-size: 30px;
}
div.panel{
  div.textContent{
    display: inline-block;
    text-align: right;
    height: 100%;
    p.headerText{
      display: inline-block;
      font-weight: 400;
    }
    p.headerUser{
      display: inline-block;
      font-weight: 700;
    }
  }
}


//user image
div.userImgRow{
  margin-top: 200px;
  margin-bottom: 10px;
}

div.userImgHomeParent{
  text-align: center;
}

div.userImgHome{
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  width: 300px;
  height: 300px;

  img.userImgHome{
    height: auto;
    width:140%;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
  }
}

//for accordion content
div.panel > .panel-heading {
  background-color: #9CAFB7;
  border-radius: 0;
  h3{
    text-align: center;
    color: #FFFFFF;
    a{
      text-decoration: none;
    }
  }
}

form.photoForm{
  margin-bottom: 10px;
  div.tempPhoto{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    overflow: hidden;
    margin: 20px auto;
    position: relative;
    img{
      height: auto;
      width:140%;
      display: block;
      // margin: 0 auto;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
    }
  }
  div.uploadBtn{
    display: flex;
    justify-content: space-between;;
    margin-bottom: 20px;
  }
}

uib-accordion-heading{
  background-color: #EAD2AC;
}
div.profile-panels{
  h4{
    display: inline-block;
  }
  div.profile-btns{
    display: flex;
    justify-content: space-between;
  }
}

div.profileContent{
  min-height: 180px;
}

div.paragraph{
  max-height: 500px;
  overflow: auto;
}

//star rating
.glyphicon-star {
  color:#EAD2AC;
}
.glyphicon-star-empty{
  color: #9CAFB7;
}
