.logout{
  display: flex;
  justify-content: space-between;
  height: 83px;
  background-color: rgba(241, 241, 241, 0.5);
      img{
            height: 66px;
      }
    .welcome{
      display: flex;
      width: 20%;
      .notmiddle{
        width: 45%;
      }
      img{
        height: 31px;
        align-self: center;
      }
      p{
        align-self: center;
        font-family: 'Josefin Sans', sans-serif;
        color: #767B91;
        font-size: 20px;
        width: 120%;
        margin-left: -16px;
        margin-top: 25px;
      }
    }
    .exit{
      display: flex;
      margin-right: 11px;
      img{
        height: 12px;
    align-self: center;
    margin-left: -8px;
    margin-top: -4px;
      }
      button {
        align-self: center;
        font-family: 'Josefin Sans', sans-serif;
        color: #767B91;
        border: none;
        font-size: 16px;
        background-color: rgba(241, 241, 241, -0.5);
      &:hover{
        background-color: rgba(241, 241, 241, -0.5);
        color:#C7CCDB;
      }
      }
    }
}



.line{
  height: 1px;
  background: url("../../ht-border.png");
  padding: 0;
  background-color: #767B91;
}


form.photoForm{
  margin-bottom: 10px;
  div.tempPhoto{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    overflow: hidden;
    margin: 20px auto;
    position: relative;
    img{
      height: auto;
      width:140%;
      display: block;
      // margin: 0 auto;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
    }
  }
  div.uploadBtn{
    display: flex;
    justify-content: space-between;;
    margin-bottom: 20px;
  }
}



.profileWrapper{
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin: 0 auto;
  margin-top: 100px;
  .imageContainer{
    flex: 1;
  }
  .profileContainer{
    flex: 1;
  }
  .profileContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 223px;
    button{
      align-self: flex-start;
      height: 31px;
      border: none;
      &:focus{
        background-color:#FFF;
      }
      &:hover{
        background-color: white;
      }
      img{
        height: 25px;
        width: 9%;
        &:hover
            {
              background-color: #FFF;
          -webkit-animation: spin 1000ms ease-out;
          }
      }
      &:active{
        background-color: none;
      }

    }
  }
}


@keyframes spin {
  0% { transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}


.footerhome{
  background-image: url("../../Footer2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 880px;
}

.footer{
  background-color: #2A324B;
    height: 239px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.postjob{
    font-family: 'Josefin Sans', sans-serif;
  margin-top: 178px;
margin-left: 546px;
height: 48px;
width: 200px;
border: 2px solid  #767B91;
color: #767B91;
&:hover {
  background-color: #767B91;
  color: #FFF;
  border: 2px solid  #767B91;
}
}

.onlineBtn{
    font-family: 'Josefin Sans', sans-serif;
  margin-top: 178px;
margin-left: 546px;
height: 48px;
width: 200px;
border: 2px solid  #767B91;
color: #767B91;
&:hover {
  background-color: #767B91;
  color: #FFF;
  border: 2px solid  #767B91;
}
}

.offlineBtn{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 178px;
    margin-left: 546px;
    height: 48px;
    width: 200px;
    border: 2px solid  #FFF;
    color: #FFF;
&:hover {
  background-color: #FFF;
  color: #FFF;
  border: 2px solid  #FFF;
}
}

div.userImgHome{
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  width: 400px;
  height: 400px;
  img{
          height: auto;
          width:140%;
          display: block;
          margin: 0 auto;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translateY(-50%) translateX(-50%);
        }
}
