div.jobModal{
  div.modal-header{
    text-align: center;
    border: none;
  }
  div.modal-body{
    border: none;
    p{
      display: inline-block;
    }
    table{
      width: 100%;
      tr{
        vertical-align: text-top;
        p{
          margin-left: 10px;
        }
      }
    }
  }
  div.modal-footer{
    border: none;
    display: block;
  }
}
