// WHEN PASSWORDS DONT MATCH
img.ng-invalid {
  background-color: red;
}
div.title{

display: flex;
margin: 0 auto;
width: 35%;
justify-content: space-around;
margin-bottom: 28px;
img{
  height: 17px;
  align-self: center;
}
}

div.titleCreate{

display: flex;
margin: 0 auto;
width: 57%;
justify-content: space-around;
margin-bottom: 28px;
img{
  height: 17px;
  align-self: center;
}
}


div.modal-body{
  display: flex;
  flex-flow: column;
  input[type='text'], input[type='password'], input[type='number']{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 14px;
  }
  p{
    font-family: 'Sue Ellen Francisco', cursive;
    align-self: center;
    font-size: 17px;
  }
  form{
    display: flex;
    flex-flow: column;
    align-self: center;
    width: 58%;

  }
}

h3{
  align-self: center;
  font-family: 'Poiret One', cursive;
}


div.modal-content {
  border-color: #C7CCDB;
  border-width: 3px;
}

input.form-control {
  margin-bottom: 2%;
}

#create {
  font-family: 'Josefin Sans', sans-serif;
  color: #767B91;
  background-color: #fff;
  border-color: #767B91;
  border-width: 0px;
  text-decoration: underline;
//   &:hover{
//   background-color: #767B91;
//   color: #FFF;
// }
}

#backBtn {
  font-family: 'Josefin Sans', sans-serif;
  color: #767B91;
  border-color: #767B91;
  background-color: #fff;
  border-width: 0px;
  align-self: baseline;
  .glyphicon-chevron-left{color: #767B91;}
  &:hover {
    background-color: #767B91;
    .glyphicon-chevron-left{color: #FFF;}
}
}




#signin {
  font-family: 'Josefin Sans', sans-serif;
  color: #767B91;
  background-color: #fff;
  border-color: #767B91;
  border-width: 1px;
  margin-bottom: 20px;
  font-size: 18px;
  &:hover{
    background-color: #767B91;
    color: #FFF;
  }
}

#login {
  font-family: 'Josefin Sans', sans-serif;
  color: #767B91;
  background-color: #fff;
  border-color: #767B91;
  border-width: 1px;
  width: 34%;
  align-self: center;
  &:hover{
    background-color: #767B91;
    color: #FFF;
  }
}

.exist {
  color: red;
  font-size: 15px;
  font-weight: 200;
  font-family: 'Sue Ellen Francisco', cursive;
}

.btn {
  outline: none !important;
}

// FROM STACKOVERFLOW CHANGING SHADOW ON INPUT
textarea:focus,input:focus,input[type]:focus,.uneditable-input:focus {
  border-color: rgba(199,204,219,0.8);
  box-shadow: 0 1px 1px rgba(199,204,219,0.075) inset,0 0 8px rgba(199,204,219,0.6);
  outline: 0 none;
  color: #767B91;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  height: 35px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 32px;
}
