#back{
  background-color: white;
  color: blue;
  border-color: white;
  width: 0%;
}
input.ng-invalid {
    border-color: red;
}

.overallModal{
  background-color: #fe938c;
  // font-family: 'Sofia', cursive;
}
