form{
  margin: 0 auto;
  width: 100%;
  div.post1, div.post2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    h2{
      font-size: 20px;
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.cardsContainer{
  h1{
    font-family: 'Poiret One', cursive !important;

  }
  .cards{
    display: flex;
  img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
  }
}
}

.matchBtn{

  font-size: 21px;
font-family: 'Josefin Sans', sans-serif;
margin-top: 0px;
margin-left: 22px;
height: 48px;
width: 266px;
border: 2px solid #767B91;
color: #767B91;
background-color: white;

}
