@media (min-width: 0px ) and (max-width: 500px){

  div.backgroundImg {
    background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url('../background.jpeg');
    background-repeat: no-repeat;
    background-size: 225%;
    min-height: 900px;
    width: 100%;
    background-attachment: fixed;
    background-position-x: 21%;
  }

  .main {
    display: flex;
    min-height: 600px;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .container{
    flex-flow: column;
  }

  div.mainpic {
    align-self: center;
  }

  div.headline{
    background-image: url("../logo.png");
background-size: 99%;
background-repeat: no-repeat;
height: 846px;
width: 100%;
order: 3;
flex: none;
margin-top: 93px;
  }

  .arrowDown{
    display: none;
  }

  footer{
    background-size: 100%;
    background-repeat: no-repeat;
    height: 239px;
  }

  .btn.btn-transparent{
    font-size: 25px;
  }

  .logout{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: rgba(241, 241, 241, 0.5);
        img{
          height: 44px;
align-self: flex-end;
        }
      .welcome{
        display: none;
        img{
          height: 31px;
          align-self: center;
        }
        p{
          align-self: flex-end;
    font-family: 'Josefin Sans', sans-serif;
    color: #767B91;
    font-size: 20px;
        }
      }

      .exit{
        display: flex;
        img{
          height: 14px;
          align-self: center;
        }
        button {
          align-self: flex-end;
          font-family: 'Josefin Sans', sans-serif;
          color: #767B91;
          border: none;
          font-size: 16px;
          background-color: rgba(241, 241, 241, -0.5);
        &:hover{
          background-color: rgba(241, 241, 241, -0.5);
          color:#C7CCDB;
        }
        }

      }

  }

  .profileWrapper {
    display: flex;
    justify-content: space-around;
    width: 88%;
    flex-flow: column;
    margin-top: 10px;
    .imageContainer {
    flex: 1;
    margin-bottom: 80px;
  }
}

.postjob{
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 102px;
  margin-left: 95px;
  height: 48px;
  // margin-bottom: -152px;
  width: 200px;
  border: 2px solid #767B91;
  color: #767B91;
}

div.userImgHome {

    position: relative;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    width: 100%;
    height: 400px;
    margin-bottom: 78px;
}

.profileWrapper .profileContent button img {
    height: 25px;
    width: 101%;
}

.profileWrapper .profileContent button{
  width: 13%;
}
.onlineBtn{
  margin-left: 98px;
margin-bottom: 33px;
}

.footer{
  background-color: #2A324B;
  height: 200px;
  display: flex;
  justify-content: space-around;
align-items: baseline;;
  img{
    display: none;
  }
}

}
