@media (min-width: 901px ) and (max-width: 1000px){

footer{
  height: 567px
}




}

@media (min-width: 1001px ) and (max-width: 1100px){

footer{
  height: 648px
}




}

@media (min-width: 1101px ) and (max-width: 1200px){

footer{
  height: 700px
}




}


// @media (min-width: 500px ) and (max-width: 700px){
//
// footer{
//       height: 375px;
// }
// .footer img {
//     display: none;
// }
// div.backgroundImg {
//   background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url('../background.jpeg');
//   background-repeat: no-repeat;
//   background-size: 225%;
//   min-height: 900px;
//   width: 100%;
//   background-attachment: fixed;
//   background-position-x: 21%;
// }
//
// .main {
//   display: flex;
//   min-height: 600px;
//   align-items: flex-start;
//   flex-wrap: wrap;
// }
// .container{
//   flex-flow: column;
//       margin-top: 29px;
// }
//
// div.mainpic {
//   align-self: center;
// }
//
// div.headline{
//   background-image: url("../logo.png");
// background-size: 99%;
// background-repeat: no-repeat;
// height: 586px;
// width: 76%;
// order: 3;
// flex: none;
// margin-top: 93px;
// }
//
// .arrowDown{
//   display: none;
// }
//
//
//
//
// }

@media (min-width: 301px ) and (max-width: 500px){
  .border{
    display: none !important;
  }

footer{
      height: 240px;
}
.footer img {
    display: none;
}
div.backgroundImg {
  background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url('../background.jpeg');
  background-repeat: no-repeat;
  background-size: 225%;
  min-height: 900px;
    width: 100%;
      background-attachment: fixed;
  background-position-x: 21%;
}

.main {
  display: flex;
  min-height: 600px;
  align-items: flex-start;
  flex-wrap: wrap;
}
.container{
  flex-flow: column;
      margin-top: 29px;
}

div.mainpic {
  align-self: center;
}

div.headline{
  background-image: url("../logo.png");
background-size: 99%;
background-repeat: no-repeat;
height: 586px;
width: 76%;
order: 3;
flex: none;
margin-top: 93px;
}

.arrowDown{
  display: none;
}




}

@media (min-width: 501px ) and (max-width: 600px){
  .border{
    display: none !important;
  }
footer{
    height: 313px;
}
.footer img {
    display: none;
}
div.backgroundImg {
  background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url('../background.jpeg');
  background-repeat: no-repeat;
  background-size: 225%;
  min-height: 900px;
  width: 100%;
  background-attachment: fixed;
  background-position-x: 21%;
}

.main {
  display: flex;
  min-height: 600px;
  align-items: flex-start;
  flex-wrap: wrap;
}
.container{
  flex-flow: column;
      margin-top: 29px;
}

div.mainpic {
  align-self: center;
}

div.headline{
  background-image: url("../logo.png");
background-size: 99%;
background-repeat: no-repeat;
height: 586px;
width: 76%;
order: 3;
flex: none;
margin-top: 93px;
}

.arrowDown{
  display: none;
}




}


@media (min-width: 601px ) and (max-width: 700px){
  .border{
    display: none !important;
  }
footer{
          height: 375px;
}
.footer img {
    display: none;
}
div.backgroundImg {
  background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url('../background.jpeg');
  background-repeat: no-repeat;
  background-size: 225%;
  min-height: 900px;
  width: 100%;
  background-attachment: fixed;
  background-position-x: 21%;
}

.main {
  display: flex;
  min-height: 600px;
  align-items: flex-start;
  flex-wrap: wrap;
}
.container{
  flex-flow: column;
      margin-top: 29px;
}

div.mainpic {
  align-self: center;
}

div.headline{
  background-image: url("../logo.png");
background-size: 99%;
background-repeat: no-repeat;
height: 586px;
width: 76%;
order: 3;
flex: none;
margin-top: 93px;
}

.arrowDown{
  display: none;
}




}


@media (min-width: 701px ) and (max-width: 800px){
  .border{
    display: none !important;
  }
footer{
              height: 441px;
}
.footer img {
    display: none;
}
div.backgroundImg {
  background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url('../background.jpeg');
  background-repeat: no-repeat;
  background-size: 225%;
  min-height: 900px;
  width: 100%;
  background-attachment: fixed;
  background-position-x: 21%;
}

.main {
  display: flex;
  min-height: 600px;
  align-items: flex-start;
  flex-wrap: wrap;
}
.container{
  flex-flow: column;
      margin-top: 29px;
}

div.mainpic {
  align-self: center;
}

div.headline{
  background-image: url("../logo.png");
background-size: 99%;
background-repeat: no-repeat;
height: 586px;
width: 76%;
order: 3;
flex: none;
margin-top: 93px;
}

.arrowDown{
  display: none;
}




}

@media (min-width: 801px ) and (max-width: 900px){

footer{
              height: 500px;
}
.footer img {
    display: none;
}
div.backgroundImg {
  background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url('../background.jpeg');
  background-repeat: no-repeat;
  background-size: 225%;
  min-height: 900px;
  width: 100%;
  background-attachment: fixed;
  background-position-x: 21%;
}

.main {
  display: flex;
  min-height: 600px;
  align-items: flex-start;
  flex-wrap: wrap;
}
.container{
  flex-flow: column;
      margin-top: 29px;
}

div.mainpic {
  align-self: center;
}

div.headline{
  background-image: url("../logo.png");
background-size: 99%;
background-repeat: no-repeat;
height: 586px;
width: 76%;
order: 3;
flex: none;
margin-top: 93px;
}

.arrowDown{
  display: none;
}




}
