.main {
  display: flex;
  justify-content: space-around;
  min-height: 600px;
  align-items: center;
}

div.mainpic {
  align-self: flex-end;
}

div.backgroundImg {
  background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url('../background.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 900px;
  width: 100%;
  background-attachment: fixed;
}

.btn.btn-transparent {
  color: #767B91;
  background-color: transparent;
  border-color: #f0ad4e;
  height: 57px;
  border-color: transparent;
  font-size: 25px;
  flex: 1;
  &:hover{
  background-color: transparent;
  border-color: transparent;
  color: #C7CCDB;
}
}

.headline{
  background-image: url("../logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 800px;
  flex: 2;
}
