

.main {
  display: flex;
  justify-content: space-around;
  min-height: 600px;
  align-items: center;
}

div.mainpic {
  align-self: flex-end;
}

div.backgroundImg {
  background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url('../background.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 900px;
  width: 100%;
  background-attachment: fixed;
}


.btn.btn-transparent {
  font-family: 'Sue Ellen Francisco', cursive;
  color: #767B91;
  background-color: transparent;
  border-color: #f0ad4e;
  height: 57px;
  border-color: transparent;
  font-size: 40px;
  flex: 1;
  &:hover{
  background-color: transparent;
  border-color: transparent;
  color: #C7CCDB;
}
}

.headline{
  background-image: url("../logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 800px;
  flex: 2;
}

// ARROW BOUNCE
.arrowDown{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -150px;
  &:hover{
  -webkit-animation: bounce 2200ms ease-out;
}
}

.arrow{
  background-image: url("../../down.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 123px;
  width: 5%;
}

@-webkit-keyframes bounce{
	0%, 20%, 50%, 80%, 100% {
    -webkit-transform:translateY(0);
  }
	40% {
    -webkit-transform:translateY(-30px);
  }
	60% {
  -webkit-transform:translateY(-15px);
  }
}


// HOW TO SECTION
.container{
  display: flex;
  margin-top: 87px;

  aside{
    flex:2;
  }

  section{
    flex:2;
    overflow: hidden;
    overflow-y: scroll;
    height: 400px;
  }
}
section::-webkit-scrollbar {
  display: none;
}

footer{
  background-image: url("../../Footer-empty.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 816px;
}
.footerBtn{    font-family: 'Josefin Sans', sans-serif !important;
font-size: 17px !important;
height: 48px !important;
width: 200px !important;
border: 2px solid  #E1E5EE !important;
color: #E1E5EE !important;
flex: 0 !important;
&:hover {
  background-color: #C7CCDB !important;
  color: #2A324B !important;
  border: 2px solid  #C7CCDB !important;
}
}

.more{    font-family: 'Josefin Sans', sans-serif !important;
font-size: 17px !important;
background-color: #C7CCDB !important;
height: 48px !important;
width: 200px !important;
border: 2px solid  #C7CCDB !important;
color: #2A324B!important;
flex: 0 !important;
&:hover {
  background-color: #2A324B !important;
  color: #C7CCDB !important;
  border: 2px solid  #C7CCDB !important;
}

}


.footer{
  background-color: #2A324B;
  height: 200px;
  display: flex;
  justify-content: space-around;
align-items: baseline;;
  img{
    height: 100px;
    align-self: flex-start;
margin-top: -93px;
  }
}



// SCROLL BAR
// HELP FROM https://css-tricks.com/examples/WebKitScrollbars/
::-webkit-scrollbar {
        width: 1%;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #C7CCDB;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}


.linetwo{
  height: 2px !important;
background: url("../../ht-border.png");
/* padding: 0; */
background-color: #767B91;

width: 81% !important;
margin: 0 auto !important;
margin-top: -52px !important;
}

.terms{
  display: flex;
justify-content: center;
margin-top: 10px;
  p{
    color: #C7CCDB;
  }
}
