.main-container{
  // background-image: url('https://images.unsplash.com/photo-1422479763403-3aa672b25e0e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=2734d2e20c48290d634e466abc7932b4');
  // background-repeat: no-repeat;
  // background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1422479763403-3aa672b25e0e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=2734d2e20c48290d634e466abc7932b4");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 900px;
  width: 100%;
}
