.main {
  display: flex;
  justify-content: space-around;
  min-height: 600px;
  align-items: center; }

div.mainpic {
  align-self: flex-end; }

div.backgroundImg {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../background.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 900px;
  width: 100%;
  background-attachment: fixed; }

.btn.btn-transparent {
  font-family: 'Sue Ellen Francisco', cursive;
  color: #767B91;
  background-color: transparent;
  border-color: #f0ad4e;
  height: 57px;
  border-color: transparent;
  font-size: 40px;
  flex: 1; }
  .btn.btn-transparent:hover {
    background-color: transparent;
    border-color: transparent;
    color: #C7CCDB; }

.headline {
  background-image: url("../logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 742px;
  flex: 2; }

.arrowDown {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -150px; }
  .arrowDown:hover {
    -webkit-animation: bounce 2200ms ease-out; }

.arrow {
  background-image: url("../../down.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 123px;
  width: 5%; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }

.container {
  display: flex;
  margin-top: 87px; }
  .container aside {
    flex: 2;
    font-family: 'Josefin Sans', sans-serif !important; }
  .container section {
    font-family: 'Josefin Sans', sans-serif !important;
    flex: 2;
    overflow: hidden;
    overflow-y: scroll;
    height: 400px; }

section::-webkit-scrollbar {
  display: none; }

footer {
  background-image: url("../../Footer-empty.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 816px; }

.footerBtn {
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 17px !important;
  height: 48px !important;
  width: 200px !important;
  border: 2px solid  #E1E5EE !important;
  color: #E1E5EE !important;
  flex: 0 !important;
  align-self: baseline; }
  .footerBtn:hover {
    background-color: #C7CCDB !important;
    color: #2A324B !important;
    border: 2px solid  #C7CCDB !important; }

.more {
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 17px !important;
  background-color: #C7CCDB !important;
  height: 48px !important;
  width: 200px !important;
  border: 2px solid  #C7CCDB !important;
  color: #2A324B !important;
  flex: 0 !important;
  align-self: baseline; }
  .more:hover {
    background-color: #2A324B !important;
    color: #C7CCDB !important;
    border: 2px solid  #C7CCDB !important; }

.footer {
  background-color: #2A324B;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: baseline; }
  .footer img {
    height: 100px;
    align-self: flex-start;
    margin-top: -93px; }

::-webkit-scrollbar {
  width: 1%; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #C7CCDB;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4); }

.linetwo {
  height: 2px !important;
  background: url("../../ht-border.png");
  background-color: #767B91;
  width: 81% !important;
  margin: 0 auto !important;
  margin-top: -52px !important; }

.terms {
  display: flex;
  justify-content: center;
  margin-top: 10px; }
  .terms p {
    color: #C7CCDB; }

.three {
  width: 18%;
  height: 2px !important; }

img.ng-invalid {
  background-color: red; }

div.title {
  display: flex;
  margin: 0 auto;
  width: 35%;
  justify-content: space-around;
  margin-bottom: 28px; }
  div.title img {
    height: 17px;
    align-self: center; }

div.titleCreate {
  display: flex;
  margin: 0 auto;
  width: 57%;
  justify-content: space-around;
  margin-bottom: 28px; }
  div.titleCreate img {
    height: 17px;
    align-self: center; }

div.modal-body {
  display: flex;
  flex-flow: column; }
  div.modal-body input[type='text'], div.modal-body input[type='password'], div.modal-body input[type='number'] {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 14px; }
  div.modal-body p {
    font-family: 'Sue Ellen Francisco', cursive;
    align-self: center;
    font-size: 17px; }
  div.modal-body form {
    display: flex;
    flex-flow: column;
    align-self: center;
    width: 58%; }

h3 {
  align-self: center;
  font-family: 'Poiret One', cursive !important; }

div.modal-content {
  border-color: #C7CCDB;
  border-width: 3px; }

input.form-control {
  margin-bottom: 2%; }

#create {
  font-family: 'Josefin Sans', sans-serif;
  color: #767B91;
  background-color: #fff;
  border-color: #767B91;
  border-width: 0px;
  text-decoration: underline; }

#backBtn {
  font-family: 'Josefin Sans', sans-serif;
  color: #767B91;
  border-color: #767B91;
  background-color: #fff;
  border-width: 0px;
  align-self: baseline; }
  #backBtn .glyphicon-chevron-left {
    color: #767B91; }
  #backBtn:hover {
    background-color: #767B91; }
    #backBtn:hover .glyphicon-chevron-left {
      color: #FFF; }

#signin {
  font-family: 'Josefin Sans', sans-serif;
  color: #767B91;
  background-color: #fff;
  border-color: #767B91;
  border-width: 1px;
  margin-bottom: 20px;
  font-size: 18px; }
  #signin:hover {
    background-color: #767B91;
    color: #FFF; }

#login {
  font-family: 'Josefin Sans', sans-serif;
  color: #767B91;
  background-color: #fff;
  border-color: #767B91;
  border-width: 1px;
  width: 34%;
  align-self: center; }
  #login:hover {
    background-color: #767B91;
    color: #FFF; }

.exist {
  color: red;
  font-size: 15px;
  font-weight: 200;
  font-family: 'Sue Ellen Francisco', cursive; }

.btn {
  outline: none !important; }

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  border-color: rgba(199, 204, 219, 0.8);
  box-shadow: 0 1px 1px rgba(199, 204, 219, 0.075) inset, 0 0 8px rgba(199, 204, 219, 0.6);
  outline: 0 none;
  color: #767B91; }

.inner-addon {
  position: relative; }

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  height: 35px; }

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 32px; }

.logout {
  display: flex;
  justify-content: space-between;
  height: 83px;
  background-color: rgba(241, 241, 241, 0.5); }
  .logout img {
    height: 66px; }
  .logout .welcome {
    display: flex;
    width: 20%; }
    .logout .welcome .notmiddle {
      width: 45%; }
    .logout .welcome img {
      height: 31px;
      align-self: center; }
    .logout .welcome p {
      align-self: center;
      font-family: 'Josefin Sans', sans-serif;
      color: #767B91;
      font-size: 20px;
      width: 120%;
      margin-left: -16px;
      margin-top: 25px; }
  .logout .exit {
    display: flex;
    margin-right: 11px; }
    .logout .exit img {
      height: 12px;
      align-self: center;
      margin-left: -8px;
      margin-top: -4px; }
    .logout .exit button {
      align-self: center;
      font-family: 'Josefin Sans', sans-serif;
      color: #767B91;
      border: none;
      font-size: 16px;
      background-color: rgba(241, 241, 241, 0); }
      .logout .exit button:hover {
        background-color: rgba(241, 241, 241, 0);
        color: #C7CCDB; }

.line {
  height: 1px;
  background: url("../../ht-border.png");
  padding: 0;
  background-color: #767B91; }

form.photoForm {
  margin-bottom: 10px; }
  form.photoForm div.tempPhoto {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    overflow: hidden;
    margin: 20px auto;
    position: relative; }
    form.photoForm div.tempPhoto img {
      height: auto;
      width: 140%;
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%); }
  form.photoForm div.uploadBtn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; }

.profileWrapper {
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin: 0 auto;
  margin-top: 100px; }
  .profileWrapper .imageContainer {
    flex: 1; }
  .profileWrapper .profileContainer {
    flex: 1; }
  .profileWrapper .profileContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 223px; }
    .profileWrapper .profileContent button {
      align-self: flex-start;
      height: 31px;
      border: none; }
      .profileWrapper .profileContent button:focus {
        background-color: #FFF; }
      .profileWrapper .profileContent button:hover {
        background-color: white; }
      .profileWrapper .profileContent button img {
        height: 25px;
        width: 9%; }
        .profileWrapper .profileContent button img:hover {
          background-color: #FFF;
          -webkit-animation: spin 1000ms ease-out; }
      .profileWrapper .profileContent button:active {
        background-color: none; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.footerhome {
  background-image: url("../../Footer2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 880px; }
  .footerhome p {
    z-index: 10000;
    color: white; }

.footer {
  background-color: #2A324B;
  height: 239px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.postjob {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 178px;
  margin-left: 546px;
  height: 48px;
  width: 200px;
  border: 2px solid  #767B91;
  color: #767B91; }
  .postjob:hover {
    background-color: #767B91;
    color: #FFF;
    border: 2px solid  #767B91; }

.onlineBtn {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 178px;
  margin-left: 546px;
  height: 48px;
  width: 200px;
  border: 2px solid  #767B91;
  color: #767B91; }
  .onlineBtn:hover {
    background-color: #767B91;
    color: #FFF;
    border: 2px solid  #767B91; }

.offlineBtn {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 178px;
  margin-left: 546px;
  height: 48px;
  width: 200px;
  border: 2px solid  #FFF;
  color: #FFF; }
  .offlineBtn:hover {
    background-color: #FFF;
    color: #FFF;
    border: 2px solid  #FFF; }

div.userImgHome {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  width: 400px;
  height: 400px; }
  div.userImgHome img {
    height: auto;
    width: 140%;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%); }

.homefooter {
  display: flex;
  flex-flow: column;
  justify-content: flex-end; }

.drawer {
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 30px;
  margin-top: 83px; }

div.overallModal h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }

div.overallModal div.active1, div.overallModal div.active2, div.overallModal div.active3, div.overallModal div.active4 {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto; }
  div.overallModal div.active1 h2, div.overallModal div.active2 h2, div.overallModal div.active3 h2, div.overallModal div.active4 h2 {
    font-size: 20px;
    display: inline-block;
    margin-left: 10px; }

div.overallModal button {
  margin-top: 30px;
  margin-bottom: 30px; }

.onlineButton {
  font-size: 21px;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 0px;
  margin-left: 0px;
  height: 48px;
  width: 200px;
  border: 2px solid #767B91;
  color: #767B91;
  background-color: white; }

@media (min-width: 0px) and (max-width: 300px) {
  div.backgroundImg {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../background.jpeg");
    background-repeat: no-repeat;
    background-size: 225%;
    min-height: 900px;
    width: 100%;
    background-attachment: fixed;
    background-position-x: 21%; }
  .main {
    display: flex;
    min-height: 600px;
    align-items: flex-start;
    flex-wrap: wrap; }
  .container {
    flex-flow: column;
    margin-top: 29px; }
  div.mainpic {
    align-self: center; }
  div.headline {
    background-image: url("../logo.png");
    background-size: 99%;
    background-repeat: no-repeat;
    height: 846px;
    width: 100%;
    order: 3;
    flex: none;
    margin-top: 93px; }
  .arrowDown {
    display: none; }
  footer {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 239px; }
  .btn.btn-transparent {
    font-size: 25px; }
  .logout {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: rgba(241, 241, 241, 0.5); }
    .logout img {
      height: 44px;
      align-self: flex-end; }
    .logout .welcome {
      display: none; }
      .logout .welcome img {
        height: 31px;
        align-self: center; }
      .logout .welcome p {
        align-self: flex-end;
        font-family: 'Josefin Sans', sans-serif;
        color: #767B91;
        font-size: 20px; }
    .logout .exit {
      display: flex; }
      .logout .exit img {
        height: 14px;
        align-self: center; }
      .logout .exit button {
        align-self: flex-end;
        font-family: 'Josefin Sans', sans-serif;
        color: #767B91;
        border: none;
        font-size: 16px;
        background-color: rgba(241, 241, 241, 0); }
        .logout .exit button:hover {
          background-color: rgba(241, 241, 241, 0);
          color: #C7CCDB; }
  .profileWrapper {
    display: flex;
    justify-content: space-around;
    width: 88%;
    flex-flow: column;
    margin-top: 10px; }
    .profileWrapper .imageContainer {
      flex: 1;
      margin-bottom: 80px; }
  .postjob {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 102px;
    margin-left: 95px;
    height: 48px;
    width: 200px;
    border: 2px solid #767B91;
    color: #767B91; }
  div.userImgHome {
    position: relative;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    width: 100%;
    height: 400px;
    margin-bottom: 78px; }
  .profileWrapper .profileContent button img {
    height: 25px;
    width: 101%; }
  .profileWrapper .profileContent button {
    width: 13%; }
  .onlineBtn {
    margin-left: 98px;
    margin-bottom: 33px; }
  .footer {
    background-color: #2A324B;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: baseline; }
    .footer img {
      display: none; } }

label {
  margin-left: 25px;
  font-weight: normal; }

.drawer-menu {
  box-sizing: border-box;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: perspective(500px) rotateY(-90deg);
  transform: perspective(500px) rotateY(-90deg);
  opacity: 0; }

.check {
  display: none; }

.menu-btn {
  width: 40px;
  height: 40px; }

.bar {
  width: 82px;
  height: 22px !important;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top; }

.bar.middle {
  top: 15px;
  opacity: 1; }

.bar.bottom {
  top: 30px;
  -webkit-transform-origin: left bottom left;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  margin-top: 6px; }

.bar.top {
  margin-top: 8px; }

.check:checked ~ .menu-btn .menu {
  visibility: hidden;
  opacity: 0; }

.check:checked ~ .menu-btn .bar.top {
  width: 69px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.check:checked ~ .menu-btn .bar.middle {
  opacity: 0; }

.check:checked ~ .menu-btn .bar.bottom {
  width: 69px;
  top: 40px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

form {
  margin: 0 auto;
  width: 100%; }
  form div.post1, form div.post2 {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    form div.post1 h2, form div.post2 h2 {
      font-size: 20px;
      display: inline-block;
      margin-left: 10px; }

.cardsContainer h1 {
  font-family: 'Poiret One', cursive !important; }

.cardsContainer .cards {
  display: flex; }
  .cardsContainer .cards img {
    height: 100px;
    width: 100px;
    border-radius: 100%; }

.matchBtn {
  font-size: 21px;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 0px;
  margin-left: 22px;
  height: 48px;
  width: 266px;
  border: 2px solid #767B91;
  color: #767B91;
  background-color: white; }

@media (min-width: 901px) and (max-width: 1000px) {
  footer {
    height: 567px; } }

@media (min-width: 1001px) and (max-width: 1100px) {
  footer {
    height: 648px; } }

@media (min-width: 1101px) and (max-width: 1200px) {
  footer {
    height: 700px; } }

@media (min-width: 301px) and (max-width: 500px) {
  footer {
    height: 240px; }
  .footer img {
    display: none; }
  div.backgroundImg {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../background.jpeg");
    background-repeat: no-repeat;
    background-size: 225%;
    min-height: 900px;
    width: 100%;
    background-attachment: fixed;
    background-position-x: 21%; }
  .main {
    display: flex;
    min-height: 600px;
    align-items: flex-start;
    flex-wrap: wrap; }
  .container {
    flex-flow: column;
    margin-top: 29px; }
  div.mainpic {
    align-self: center; }
  div.headline {
    background-image: url("../logo.png");
    background-size: 99%;
    background-repeat: no-repeat;
    height: 586px;
    width: 76%;
    order: 3;
    flex: none;
    margin-top: 93px; }
  .arrowDown {
    display: none; } }

@media (min-width: 501px) and (max-width: 600px) {
  footer {
    height: 313px; }
  .footer img {
    display: none; }
  div.backgroundImg {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../background.jpeg");
    background-repeat: no-repeat;
    background-size: 225%;
    min-height: 900px;
    width: 100%;
    background-attachment: fixed;
    background-position-x: 21%; }
  .main {
    display: flex;
    min-height: 600px;
    align-items: flex-start;
    flex-wrap: wrap; }
  .container {
    flex-flow: column;
    margin-top: 29px; }
  div.mainpic {
    align-self: center; }
  div.headline {
    background-image: url("../logo.png");
    background-size: 99%;
    background-repeat: no-repeat;
    height: 586px;
    width: 76%;
    order: 3;
    flex: none;
    margin-top: 93px; }
  .arrowDown {
    display: none; } }

@media (min-width: 601px) and (max-width: 700px) {
  footer {
    height: 375px; }
  .footer img {
    display: none; }
  div.backgroundImg {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../background.jpeg");
    background-repeat: no-repeat;
    background-size: 225%;
    min-height: 900px;
    width: 100%;
    background-attachment: fixed;
    background-position-x: 21%; }
  .main {
    display: flex;
    min-height: 600px;
    align-items: flex-start;
    flex-wrap: wrap; }
  .container {
    flex-flow: column;
    margin-top: 29px; }
  div.mainpic {
    align-self: center; }
  div.headline {
    background-image: url("../logo.png");
    background-size: 99%;
    background-repeat: no-repeat;
    height: 586px;
    width: 76%;
    order: 3;
    flex: none;
    margin-top: 93px; }
  .arrowDown {
    display: none; } }

@media (min-width: 701px) and (max-width: 800px) {
  footer {
    height: 441px; }
  .footer img {
    display: none; }
  div.backgroundImg {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../background.jpeg");
    background-repeat: no-repeat;
    background-size: 225%;
    min-height: 900px;
    width: 100%;
    background-attachment: fixed;
    background-position-x: 21%; }
  .main {
    display: flex;
    min-height: 600px;
    align-items: flex-start;
    flex-wrap: wrap; }
  .container {
    flex-flow: column;
    margin-top: 29px; }
  div.mainpic {
    align-self: center; }
  div.headline {
    background-image: url("../logo.png");
    background-size: 99%;
    background-repeat: no-repeat;
    height: 586px;
    width: 76%;
    order: 3;
    flex: none;
    margin-top: 93px; }
  .arrowDown {
    display: none; } }

@media (min-width: 801px) and (max-width: 900px) {
  footer {
    height: 500px; }
  .footer img {
    display: none; }
  div.backgroundImg {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../background.jpeg");
    background-repeat: no-repeat;
    background-size: 225%;
    min-height: 900px;
    width: 100%;
    background-attachment: fixed;
    background-position-x: 21%; }
  .main {
    display: flex;
    min-height: 600px;
    align-items: flex-start;
    flex-wrap: wrap; }
  .container {
    flex-flow: column;
    margin-top: 29px; }
  div.mainpic {
    align-self: center; }
  div.headline {
    background-image: url("../logo.png");
    background-size: 99%;
    background-repeat: no-repeat;
    height: 586px;
    width: 76%;
    order: 3;
    flex: none;
    margin-top: 93px; }
  .arrowDown {
    display: none; } }
