.main {
  display: flex;
  justify-content: space-around;
  min-height: 600px; }

.mainpic {
  align-self: flex-end; }

.backgroundImg {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("https://images.unsplash.com/photo-1422479763403-3aa672b25e0e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=2734d2e20c48290d634e466abc7932b4");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 900px;
  width: 100%;
  background-position-y: 400%; }

.btn.btn-transparent {
  font-family: 'Sue Ellen Francisco', cursive;
  color: #767B91;
  background-color: transparent;
  border-color: #f0ad4e;
  height: 57px;
  border-color: transparent;
  font-size: 25px; }
  .btn.btn-transparent:hover {
    background-color: transparent;
    border-color: transparent;
    color: #C7CCDB; }

#back {
  background-color: white;
  color: blue;
  border-color: white;
  width: 0%; }

input.ng-invalid {
  border-color: red; }

div.modal-content {
  border-color: #C7CCDB;
  border-width: 10px;
  font-family: 'Sue Ellen Francisco', cursive; }

input.form-control {
  margin-bottom: 2%; }

#create {
  position: absolute;
  left: 479px;
  top: 141px;
  color: #767B91;
  background-color: white;
  border-color: #767B91;
  border-width: 3px; }
  #create:hover {
    background-color: #767B91;
    color: #FFFFFF; }

#backBtn {
  font-family: 'Sue Ellen Francisco', cursive;
  color: #767B91;
  /* background-color: #337ab7; */
  border-color: #767B91;
  background-color: white;
  border-width: 3px; }
  #backBtn .glyphicon-chevron-left {
    color: #767B91; }
  #backBtn:hover {
    background-color: #767B91; }
    #backBtn:hover .glyphicon-chevron-left {
      color: #FFFFFF; }

#signin {
  font-family: 'Sue Ellen Francisco', cursive;
  position: absolute;
  left: 497px;
  color: #767B91;
  background-color: white;
  border-color: #767B91;
  border-width: 3px; }
  #signin:hover {
    background-color: #767B91;
    color: #FFFFFF; }

#login {
  color: #767B91;
  background-color: white;
  border-color: #767B91;
  border-width: 3px; }
  #login:hover {
    background-color: #767B91;
    color: #FFFFFF; }

.red {
  color: red; }

.btn {
  outline: none !important; }

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  border-color: rgba(199, 204, 219, 0.8);
  box-shadow: 0 1px 1px rgba(199, 204, 219, 0.075) inset, 0 0 8px rgba(199, 204, 219, 0.6);
  outline: 0 none; }

p.navbar-text {
  display: inline-block; }
  p.navbar-text span {
    font-weight: 800; }

h4.navbar-brand {
  padding: 0 10px;
  font-size: 30px; }

div.panel div.textContent {
  display: inline-block;
  text-align: right;
  height: 100%; }
  div.panel div.textContent p.headerText {
    display: inline-block;
    font-weight: 400; }
  div.panel div.textContent p.headerUser {
    display: inline-block;
    font-weight: 700; }

.switch {
  position: relative;
  height: 26px;
  width: 120px;
  margin: 20px auto;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1); }

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer; }

.switch-label:active {
  font-weight: bold; }

.switch-label-off {
  padding-left: 2px; }

.switch-label-on {
  padding-right: 2px; }

.switch-input {
  display: none; }

.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: color, text-shadow;
  -moz-transition-property: color, text-shadow;
  -ms-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow; }

.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 60px;
  /* Note: left: 50%; doesn't transition in WebKit */ }

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  display: block;
  width: 58px;
  height: 22px;
  border-radius: 3px;
  background-color: #65bd63;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd993), color-stop(100%, #65bd63));
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -ms-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(top, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out; }

div.userImgRow {
  margin-top: 10px;
  margin-bottom: 10px; }

div.userImgHomeParent {
  text-align: center; }

div.userImgHome {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  width: 300px;
  height: 300px; }
  div.userImgHome img.userImgHome {
    height: auto;
    width: 140%;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%); }

div.panel > .panel-heading {
  background-color: #9CAFB7;
  border-radius: 0; }
  div.panel > .panel-heading h3 {
    text-align: center;
    color: #FFFFFF; }
    div.panel > .panel-heading h3 a {
      text-decoration: none; }

uib-accordion-heading {
  background-color: #EAD2AC; }

div.profile-panels h4 {
  display: inline-block; }

div.profile-panels div.profile-btns {
  display: flex;
  justify-content: space-between; }

div.profileContent {
  min-height: 180px; }

div.paragraph {
  max-height: 500px;
  overflow: auto; }

div.rAndC {
  max-height: 500px;
  overflow: auto; }

table.rAndC-table td p {
  margin-top: 50px; }

table.rAndC-table td button {
  margin-top: 40px; }

div.userImgSm {
  background-color: #ead2ac;
  display: inline-block;
  overflow: hidden;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  position: relative; }
  div.userImgSm img.userIcon {
    width: 170%;
    height: auto;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%); }

.glyphicon-star {
  color: #EAD2AC; }

.glyphicon-star-empty {
  color: #9CAFB7; }

nav.home {
  background-color: #4281A4;
  color: #ffffff; }
  nav.home a {
    color: #ffffff; }

div.jobModal div.modal-header {
  text-align: center;
  border: none; }

div.jobModal div.modal-body {
  border: none; }
  div.jobModal div.modal-body p {
    display: inline-block; }
  div.jobModal div.modal-body table {
    width: 100%; }
    div.jobModal div.modal-body table tr {
      vertical-align: text-top; }
      div.jobModal div.modal-body table tr p {
        margin-left: 10px; }

div.jobModal div.modal-footer {
  border: none;
  display: block; }
