@import '_splash';
@import '_loginModal';
@import '_history';
@import '_home';
@import '_goOnline';
@import '_jobModal';
@import '_mobile';
*{
  // font-family:A little sunshine;
  font-weight: bold;
  .poiret{
    font-family: 'Poiret One', cursive;
  }
  .josefin{
    font-family: 'Josefin Sans', sans-serif;
  }
  .sue{
    font-family: 'Sue Ellen Francisco', cursive;
  }
}


// font-family: 'Poiret One', cursive;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Sue Ellen Francisco', cursive;
