<!-- NAVBAR -->
<nav class=" navbar-fixed-top">
  <div class="logout">
    <div class="welcome">
      <div class="notmiddle">
        <input type="checkbox" class="check" id="checked">
        <label class="menu-btn" for="checked">
          <img class="bar top" src="../../MadeMyDayLogo.png" alt="">
          <img class="bar middle" src="../../MadeMyDayLogo2.png" alt="">
          <img class="bar bottom" src="../../MadeMyDayLogo.png" alt="">
        </label>
      </div>
      <input type="checkbox" class="check" id="checked">
      <label for="checked" class="welcomeuser"><p>Hello, {{SpCtrl.providerData.firstName}}!</p></label>
    </div>
    <img class="first" src="LogoName.png" alt="">
    <div class="exit">
      <button class="btn btn-default navbar-btn" ng-click="SpCtrl.logout()">Logout </button>
      <img src="../../exit.png" alt="">
    </div>
  </div>
  <div class="line"></div>
</nav>




<!-- YOU ARE ONLINE -->
<div ng-show="changeOnline" class="drawer">
  <nav>
    <div>
      <p>you are online</p>
      <button ng-show="changeOnline" ng-click='goOff()' class= 'btn btn-default'>GO OFFLINE</button>
    </div>
    <div class="line"></div>
  </nav>
</div>



<!-- CHANGES ONLINE BUTTON -->
  <div id="onlinesection">
        <button ng-show="!changeOnline"  class=" onlineBtn btn btn-default navbar-btn" ng-click="openOnlineModal()">GO ONLINE</button>
        <button ng-show="changeOnline" class= 'offlineBtn btn btn-default navbar-btn'></button>
    </div>



<!-- PROFILE CONTAINER -->
    <div class="profileWrapper">
      <div class= "imageContainer">
        <div ng-show="!changeOnline" class= "awesome userImgHome">
          <img ngshow="photoFill" src="./images/noProfileImage.png" alt="" class="userImgHome">
          <img ngshow="!photoFill" src="./photoUploads/{{SpCtrl.providerData.fileUpload.fileName}}"  class="userImgHome">
        </div>
        <div ng-show="changeOnline" class= "userImgHome">
          <img ngshow="photoFill" src="./images/noProfileImage.png" alt="" class="userImgHome">
          <img ngshow="!photoFill" src="./photoUploads/{{SpCtrl.providerData.fileUpload.fileName}}"  class="userImgHome">
        </div>
      </div>
      <div class="profileContainer">
        <h4>account settings</h4>
        <div class="profileContent">
          <div>
            <p>First Name: </p>
            <p>Last Name: </p>
            <p>Phone Number: </p>
            <p>Email: </p>
          </div>
          <sp-home-dir the-provider-data=SpCtrl.providerData></sp-home-dir>
          <button title="edit profile" class="pull-right btn btn-default" ng-click="SpCtrl.editBtn1()"><img src=".././/icon.png" alt=""></button>

        </div>
        <div ng-show="SpCtrl.editInfo">
          <form role="form" class="photoForm">
            <div class="form-group">
              <input type="file" file-model="SpCtrl.myFile" class="form-control">
            </div>
            <div class="uploadBtn">
              <button type="button" class="btn btn-warning" ng-click="SpCtrl.uploadPFile()">post file</button>
            </div>
          </form>
          <form role="form">
            <div class="form-group">
              <input type="text" ng-model="user.firstName" class="form-control" placeholder="{{SpCtrl.providerData.firstName}}">
              <input type="text" ng-model="user.lastName" class="form-control" placeholder="{{SpCtrl.providerData.lastName}}">
              <input type="text" ng-model="user.phoneNumber" class="form-control" placeholder="{{SpCtrl.providerData.phoneNumber}}">
              <input type="text" ng-model="user.email" class="form-control" placeholder="{{SpCtrl.providerData.email}}">
            </div>
            <div class="profile-btns">
              <button type="submit" class="btn btn-default" ng-click="SpCtrl.saveEdit(user)">Save Edit</button>
              <button type="button" class="btn btn-default" ng-click="SpCtrl.deleteP()">Delete Account</button>
            </div>
          </form>
        </div>
      </div>
    </div>

<!-- FOOTER SECTION -->
<footer></footer>


<!-- THIS WILL BE THE ABOUT ME SECTION -->
<!-- <div class="panel-heading">
  <h4>About Me</h4>
  <button class="pull-right btn btn-default" ng-click="SpCtrl.editBtn2()">Edit</button>
</div>
<div class="panel-body paragraph">
  <p>{{SpCtrl.providerData.about}}</p>
</div>
<div class="panel-body" ng-show="SpCtrl.editAbout">
  <form role="form">
    <div class="form-group">
      <textarea type="text" rows="5" class="form-control" ng-model="user.about" placeholder="About you . . ." value=""></textarea>
    </div>
    <button type="submit" class="btn btn-default" ng-click="SpCtrl.saveAbout(user)">Save Edit</button>
  </form>
</div> -->
