<h1>Splash Page</h1>

<!-- Modals with Angular Material Lite Design -->
<div id="modal-container">
  <md-icon aria-label="email" class="md-36 step"></md-icon>

   <md-button class="md-primary md-raised" ng-click="showModal($event)">
    Client Sign In/ Register
   </md-button>

   <md-button class="md-primary md-raised" ng-click="showSPModal($event)">
    Service Provider Sign In/ Register
   </md-button>

   <div ng-controller="AppCtrl as ac">
   <md-button ng-click="ac.login()">login</md-button>
 </div>







</div>
