<!-- NAVBAR -->
<nav class=" navbar-fixed-top">
  <div class="logout">
    <div class="welcome">
      <div class="notmiddle">
        <input type="checkbox" class="check" id="checked">
        <label class="menu-btn" for="checked">
          <img class="bar top" src="../../MadeMyDayLogo.png" alt="">
          <img class="bar middle" src="../../MadeMyDayLogo2.png" alt="">
          <img class="bar bottom" src="../../MadeMyDayLogo.png" alt="">
        </label>
      </div>
      <input type="checkbox" class="check" id="checked">
      <label for="checked" class="welcomeuser"><p>Hello, {{CliCtrl.clientData.firstName}}!</p></label>
    </div>
    <img class="first" src="LogoName.png" alt="">
    <div class="exit">
      <button class="btn btn-default navbar-btn" ng-click="CliCtrl.logout()">Logout </button>
      <img src="../../exit.png" alt="">
    </div>
  </div>
  <div class="line"></div>
</nav>




<!-- POST JOB BUTTON -->

<button class="btn btn-default navbar-btn postjob" ng-click="openMatchModal()">POST JOB</button>



<!-- PROFILE CONTAINER -->

          <div class="profileWrapper">
            <div class= "imageContainer">
              <div class="userImgHome">
                <img ngshow="photoFill" src="./images/noProfileImage.png" alt="" class="userImgHome">
                <img ngshow="!photoFill" src="./photoUploads/{{CliCtrl.clientData.fileUpload.fileName}}"  class="userImgHome">
              </div>
            </div>
            <div class="profileContainer">
              <h4>account settings</h4>
              <div class="profileContent">
                <div>
                  <p>First Name: </p>
                  <p>Last Name: </p>
                  <p>Phone Number: </p>
                  <p>Email: </p>
                </div>
                <cli-home-dir the-client-data=CliCtrl.clientData></cli-home-dir>
                <button title="edit profile" class="pull-right btn btn-default" ng-click="CliCtrl.editBtn()"><img src=".././/icon.png" alt=""></button>

              </div>
              <div ng-show="CliCtrl.editInfo">
                <form role="form" class="photoForm">
                  <div class="form-group">
                    <input type="file" file-model="CliCtrl.myFile" class="form-control">
                  </div>
                  <div class="uploadBtn">
                    <button type="button" class="btn btn-warning" ng-click="CliCtrl.uploadCFile()">post file</button>
                  </div>
                </form>
                <form role="form">
                  <div class="form-group">
                    <input type="text" ng-model="user.firstName" class="form-control" placeholder="{{CliCtrl.clientData.firstName}}">
                    <input type="text" ng-model="user.lastName" class="form-control" placeholder="{{CliCtrl.clientData.lastName}}">
                    <input type="text" ng-model="user.phoneNumber" class="form-control" placeholder="{{CliCtrl.clientData.phoneNumber}}">
                    <input type="text" ng-model="user.email" class="form-control" placeholder="{{CliCtrl.clientData.email}}">
                  </div>
                  <div class="profile-btns">
                    <button type="submit" class="btn btn-default" ng-click="CliCtrl.saveEdit(user)">Save Edit</button>
                    <button type="button" class="btn btn-default" ng-click="CliCtrl.deleteC()">Delete Account</button>
                  </div>
                </form>
              </div>
            </div>
          </div>



<!-- FOOTER -->
<footer></footer>
