<!-- bootstraping navbar -->
  <button class="btn btn-default" ng-click="openMatchModal()">POST JOB</button>
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="#/">Maid My Day</a> -->
      <h4 class="navbar-brand">Maid My Day</h4>
    </div>
    <ul class="nav navbar-nav navbar-right">

      <li><p class="navbar-text">Signed in as <span>{{CliCtrl.clientData.firstName}}</span></p></li>

      <li><button class="btn btn-default navbar-btn" ng-click="CliCtrl.logout()">Logout</button></li>

    </ul>
  </div>
</nav>


<!-- user image: still needs JS to fit any img size to div -->

<div class="container">
  <div class="row userImgRow">
    <div class="userImgHomeParent col-md-12 col-sm-12">
      <div class="userImgHome">
        <img src="./photoUploads/{{CliCtrl.clientData.fileUpload.fileName}}" alt="userImg" class="userImgHome">
        </script>
      </div>
    </div>
  </div>
</div>

<!-- angular bootstrap accordion content -->

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">

        <uib-accordion>

         <uib-accordion-group panel-class="panel-default">
           <uib-accordion-heading>
             <h3>Profile</h3>
           </uib-accordion-heading>
           <div class="profile-panels col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
             <div class="panel-heading">
               <h4>Settings</h4>
               <button class="pull-right btn btn-default" ng-click="CliCtrl.editBtn()">Edit</button>
             </div>
             <div class="profileContent">
               <div class="panel-body col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3">
                 <!-- <p>Photo: </p> -->
                 <p>First Name: </p>
                 <p>Last Name: </p>
                 <p>Phone Number: </p>
                 <p>Email: </p>
               </div>
               <cli-home-dir the-client-data=CliCtrl.clientData></cli-home-dir>
             </div>
             <div class="panel-body" ng-show="CliCtrl.editInfo">


               <form role="form" class="photoForm">
                 <div class="form-group col-md-12 col-sm-12">
                   <!-- <div class="tempPhoto">
                     <img src="./photoUploads/{{CliCtrl.clientData.fileUpload.fileName}}" alt="yourImg">
                   </div> -->
                   <input type="file" file-model="CliCtrl.myFile" class="form-control">
                 </div>
                 <div class="uploadBtn col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                   <button type="button" class="btn btn-warning" ng-click="CliCtrl.uploadCFile()">post file</button>
                   <button type="button" class="btn btn-danger" ng-click="CliCtrl.changeCFile()">post file</button>
                 </div>
               </form>


               <form role="form">
                 <div class="form-group col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                   <input type="text" ng-model="user.firstName" class="form-control" placeholder="{{CliCtrl.clientData.firstName}}">
                   <input type="text" ng-model="user.lastName" class="form-control" placeholder="{{CliCtrl.clientData.lastName}}">
                   <input type="text" ng-model="user.phoneNumber" class="form-control" placeholder="{{CliCtrl.clientData.phoneNumber}}">
                   <input type="text" ng-model="user.email" class="form-control" placeholder="{{CliCtrl.clientData.email}}">
                 </div>
                 <div class="profile-btns col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                   <button type="submit" class="btn btn-default" ng-click="CliCtrl.saveEdit(user)">Save Edit</button>
                   <button type="button" class="btn btn-default" ng-click="CliCtrl.deleteC()">Delete Account</button>
                 </div>
               </form>
             </div>
           </div>
         </uib-accordion-group>

         <uib-accordion-group panel-class="panel-default">
           <uib-accordion-heading>
             <h3>History</h3>
           </uib-accordion-heading>

           <div class="history">
             <div class="panel-body">

               <div class="historyRow" ng-repeat="user in CliCtrl.historyData">
                 <div class="historyBlock">
                   <div class="userImgSm">
                     <img src={{user.img}} alt="" class="userIcon">
                   </div>
                 </div>
                 <div class="historyBlock">
                     <p>{{user.firstName}} {{user.lastName}}</p>
                 </div>
                 <div class="historyBlock">
                     <uib-rating ng-model="user.rating" max="{{user.rating}}" read-only="true" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
                 </div>
                 <div class="historyBlock comment">
                     <p>{{user.comment}}</p>
                 </div>
                 <div class="historyBlock">
                     <p class="date">{{user.date}}</p>
                 </div>
               </div>

             </div>
           </div>
         </uib-accordion-group>

        </uib-accordion>


    </div>
  </div>
</div>
