<div class="jobModal">
  <div class="modal-header">
      <h3 class="modal-title">What Services are you requesting?</h3>
  </div>
  <form role="form">
    <div class="modal-body">
      <table class="table-responsive jobForm">
          <tbody>

            <tr class="jobChecks">
              <td>
                <div class="form-group kitchen">
                  <input type="checkbox" ng-model="post.kitchen"><p>Kitchen</p><br><br>
                </div>
              </td>
              <td>
                <div class="form-group bathrooms">
                  <input type="checkbox" ng-model="post.bathrooms"><p>Bathrooms</p><br><br>
                </div>
              </td>
              <td>
                <div class="form-group bedrooms">
                  <input type="checkbox" ng-model="post.bedrooms"><p>Bedrooms</p><br><br>
                </div>
              </td>
              <td>
                <div class="form-group laundry">
                  <input type="checkbox" ng-model="post.laundry"><p>Laundry</p><br><br>
                </div>
              </td>
              <td>
                <div class="form-group commonareas">
                  <input type="checkbox" ng-model="post.commonareas"><p>Common Areas</p><br><br>
                </div>
              </td>
            </tr>
            <tr class="location">
              <td>
                <div class="form-group location">
                  <input type="text" name="jobLocation" ng-model="post.location" class="form-control" placeholder="Neighborhood">
                </div>
              </td>
            </tr>
            <tr class="instruction">
              <td>
                <div class="form-group instruction">
                  <textarea name="instruction" ng-model="post.instruction" class="form-control" rows="8" cols="10" placeholder="Special Instruction"></textarea>
                </div>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
    <div class="modal-footer jobFormBtns">
        <button class="btn btn-primary" type="submit" ng-click="JobCtrl.ok(post)">Submit</button>
        <button class="btn btn-warning" type="button" ng-click="JobCtrl.cancel()">Cancel</button>
    </div>
  </form>
</div>
