<div class="jobModal">
  <div class="modal-header">
      <h3 class="modal-title">What Services are you requesting?</h3>
  </div>
  <div class="modal-body">
    <table class="table-responsive jobForm">
      <form role="form">
        <tbody>
          <tr>
            <td>
              <div class="form-group all">
                <input type="checkbox" ng-model="post.all"><p>All</p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group kitchen">
                <input type="checkbox" ng-model="post.kitchen"><p>Kitchen</p><br><br>

                <input type="checkbox" ng-model="post.counters"><p>Counters</p><br>
                <input type="checkbox" ng-model="post.dishes"><p>Dishes</p><br>
                <input type="checkbox" ng-model="post.dusting"><p>Dusting</p><br>
                <input type="checkbox" ng-model="post.floors"><p>Floors</p><br>
              </div>
            </td>
            <td>
              <div class="form-group bathrooms">
                <input type="checkbox" ng-model="post.bathrooms"><p>Bathrooms</p><br><br>

                <input type="checkbox" ng-model="post.counters"><p>Counters & Mirrors</p><br>
                <input type="checkbox" ng-model="post.dusting"><p>Dusting</p><br>
                <input type="checkbox" ng-model="post.floors"><p>Floors</p><br>
                <input type="checkbox" ng-model="post.showers"><p>Showers/Tubs</p><br>
                <input type="checkbox" ng-model="post.toilets"><p>Toilets</p><br>
              </div>
            </td>
            <td>
              <div class="form-group bedrooms">
                <input type="checkbox" ng-model="post.bedrooms"><p>Bedrooms</p><br><br>

                <input type="checkbox" ng-model="post.dusting"><p>Dusting</p><br>
                <input type="checkbox" ng-model="post.floors"><p>Floors</p><br>
                <input type="checkbox" ng-model="post.makebeds"><p>Make Beds</p><br>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group laundry">
                <input type="checkbox" ng-model="post.laundry"><p>Laundry</p><br><br>

                <input type="checkbox" ng-model="post.washndry"><p>Wash and Dry</p><br>
                <input type="checkbox" ng-model="post.fold"><p>Fold</p><br>
              </div>
            </td>
            <td>
              <div class="form-group commonareas">
                <input type="checkbox" ng-model="post.laundry"><p>Common Areas</p><br><br>

                <input type="checkbox" ng-model="post.dusting"><p>Dusting</p><br>
                <input type="checkbox" ng-model="post.floors"><p>Floors</p><br>
              </div>
            </td>
          </tr>
        </tbody>
      </form>
    </table>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="submit" ng-click="JobCtrl.ok()">Submit</button>
      <button class="btn btn-warning" type="button" ng-click="JobCtrl.cancel()">Cancel</button>
  </div>
</div>
