<!-- MATCH MODAL -->
<div class= 'overallModal'>
<h3>What Services are you looking for today?</h3>



  <form ng-submit="matchMe(post)">

    <div class="kitchen">
        <input type="checkbox" ng-model="post.kitchen"><h2>Kitchen</h2>
        <!-- <h3>This will include:</h3> -->
          <!-- <p>Counters</p>
          <p>Dishes</p>
          <p>Dusting</p>
          <p>Floors</p> -->
    </div>
    <div class="bathrooms">
        <input type="checkbox" ng-model="post.bathrooms"><h2>Bathrooms</h2>
        <!-- <h3>This will include:</h3> -->
          <!-- <p>Counters & Mirrors</p>
          <p>Dusting</p>
          <p>Floors</p>
          <p>Showers/Tubs</p>
          <p>Toilets</p> -->
    </div>
    <div class="bedrooms">
        <input type="checkbox" ng-model="post.bedrooms"><h2>Bedrooms</h2>
        <!-- <h3>This will include:</h3> -->
          <!-- <p>Dusting</p>
          <p>Floors</p>
          <p>Make Beds</p> -->
    </div>
    <div class="laundry">
        <input type="checkbox" ng-model="post.laundry"><h2>Laundry</h2>
        <!-- <h3>This will include:</h3> -->
          <!-- <p>Wash and Dry</p>
          <p>Fold</p> -->
    </div>
    <div class="commonareas">
        <input type="checkbox" ng-model="post.commonareas"><h2>Common Areas</h2>
        <!-- <h3>This will include:</h3> -->
          <!-- <p>Dusting</p>
          <p>Floors</p> -->
    </div>
    <!-- <div>
    <div class="location">
        <input type="text" name="jobLocation" ng-model="post.location" class="form-control" placeholder="Neighborhood">
    </div>
    <div class="rate">
        <input type="text" name="rate" ng-model="post.rate" class="form-control" placeholder="rate">
    </div>
  </div> -->




<button  class="btn" type="submit">Find Matching Providers</button>
</form>
</div>
