<!-- POST JOB MODAL -->


<div ng-if="showSection == 'postjob'" class="modal-body">
<div class= 'overallModal'>
<h3>What Services are you looking for today?</h3>
  <form ng-submit="matchMe(post)">
    <div class="kitchen">
        <input type="checkbox" ng-model="post.kitchen"><h2>Kitchen</h2>
    </div>
    <div class="bathrooms">
        <input type="checkbox" ng-model="post.bathrooms"><h2>Bathrooms</h2>
    </div>
    <div class="bedrooms">
        <input type="checkbox" ng-model="post.bedrooms"><h2>Bedrooms</h2>
    </div>
    <div class="laundry">
        <input type="checkbox" ng-model="post.laundry"><h2>Laundry</h2>
    </div>
    <div class="commonareas">
        <input type="checkbox" ng-model="post.commonareas"><h2>Common Areas</h2>
    </div>
<button  class="btn" type="submit">Find Matching Providers</button>
</form>
</div>
</div>





<!-- MATCH MODAL -->



<div class="cardsContainer" ng-if="showSection == 'matches'" class="modal-body">
  <h3>matching providers</h3>
  <p>Choose your favorite and contact them!</p>
  <div class="cards">
  <div  ng-repeat="matchUser in matchUsers" class="">
    <div class="w3-container w3-center">
      <img ng-click="showSubmitForm()" src="../../photoUploads/{{matchUser.fileUpload.fileName}}" alt="Avatar" >
      <h5>{{matchUser.firstName}}</h5>

      <!-- <form ng-submit="requestSent(matchUser,post)">
        <input type="text" placeholder="address" ng-model="post.address">
        <input type="text" placeholder="special requests"ng-model="post.specialInstructions">
        <button class="btn" type="submit">Send Request</button>
      </form> -->

      <h5>{{matchUser.phoneNumber}}</h5>
      <h5>{{matchUser.email}}</h5>

      <!-- <form ng-submit="requestSent(matchUser,post)">
        <input type="text" placeholder="address" ng-model="post.address">
        <input type="text" placeholder="special requests"ng-model="post.specialInstructions">
        <button class="btn" type="submit">Send Request</button>

      </form> -->

    </div>
  </div>
</div>
</div>
